<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Streaming!</title>
</head>

<body>
    <h2>Video streaming</h2>
    <video style="height: 400px; width: 600px" controls>
        <source src="http://192.168.1.21:4000/video/1" type="video/mp4" />
    </video>
    <h2>Audio Streaming</h2>
    <audio controls>
        <source src="http://192.168.1.21:4000/track/2" type="audio/mpeg" />
    </audio>
</body>

</html>